.heading_section {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 50%;
  align-items: center;
}

.heading {
  width: 30%;
  height: 100%;
  align-content: center;
  padding-left: 20px;
}

.Edit {
  display: flex;
  padding-right: 30px;
  background-color: #eaf9ff;
  border-radius: 50px;
  margin-right: 30px;
}

.Edit h3 {
  width: 70px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.pen {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.Update {
  display: flex;
}

.circle {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: #03aeee;
  border-radius: 100%;
  margin-left: 100px;
  margin-right: 10px;
}

.plus {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.editpen {
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #03aeee;
  border-radius: 100%;
}
