.options_body {
  width: 30%;
  padding: 20px;
}

.another_select {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border-color: #80808054;
}

.another_select :focus {
  border-color: #1eb4f0;
}
