.login-box {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  height: 100vh;
}
.left-part {
  background-color: #e6f7fd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-left: 30px;
  padding-bottom: 30px;
}
.left-part img {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.left-part img:hover {
  transform: scale(1.05);
}
.right-part {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f9f9f9; */
}
.login-box img {
  width: 50%;
  padding-bottom: 30px;
}

.login-box {
  width: 600px;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
  /* background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

.showPassword {
  display: flex;
}

.showPassword input {
  width: 20px;
  height: 20px;
  padding-right: 20px;
  padding-left: 0;
  cursor: pointer;
}

.showPassword label {
  height: fit-content;
  padding-top: 12px;
  padding-left: 5px;
  font-size: 14px;
  color: #333;
}

.input-container {
  position: relative;
  width: 100%;
}
.clear-text {
  position: absolute;
  right: 15px;
  top: 60%;
  transform: translateY(-50%);
  color: black;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
}

.clear-text:hover {
  color: #1eb4f0;
}
