.heading_section {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 50%;
}

.heading {
  width: 30%;
  height: 100%;
  align-content: center;
}
